footer {
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--white);
  
  text-align: center;
  padding: 15px 0;

  margin-top: 40px;
  font-size: 14px;

  position: relative; /* Normal, sem fixar */
  bottom: 0;
}

footer p {
  opacity: 0.9;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    padding: 12px;
    font-size: 13px;
  }
}
