footer {
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--white);
  
  text-align: center;
  padding: 15px 0;

  margin-top: 40px;
  font-size: 14px;

  position: relative; /* Normal, sem fixar */
  bottom: 0;
}

footer p {
  opacity: 0.9;
}
