/* HEADER PADRÃO DESKTOP */
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 15px 25px;
  background: #032905;
  color: white;
}

.logoNome {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
}

.logoImg {
  width: 80px;
  height: auto;
  margin-right: 1px;
}

/* Links normais no desktop */
.nav-links {
  display: flex;
  gap: 25px;
  margin: 0px auto;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* BOTÃO MENU MOBILE */
.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 10px;
    background: #1b5e20; /* Verde mais escuro */
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px;
    border-radius: 10px;
    width: 200px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.3s ease;
  }

  /* MENU ABERTO */
  .nav-links.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 18px;
  }
}
