header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;
}

/* Menu */
header ul {
  display: flex;
  gap: 20px;
}

header a {
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s;
}

header a:hover {
  color: #c8ffae;
}
