/* Fundo escurecido */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Container do modal */
.modal-container {
  background: white;
  padding: 20px;
  max-width: 520px;
  width: 90%;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  animation: fadeUp 0.25s ease-out;
}

/* Botão fechar */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* Imagem */
.modal-imagem {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

/* animação */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .modal-container {
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 18px;
  }

  .modal-imagem {
    width: 100%;
    height: auto;
  }

  .modal-info {
    font-size: 14px;
  }

  .modal-close {
    top: 10px;
    right: 10px;
  }
}
